	<div class="container" >
<div class="jumbotron">

  <h1>Welcome to SHARE</h1>
  <p>Nullam placerat neque orci, quis sollicitudin nulla consequat ut. Proin ac accumsan ante. Aliquam mattis mauris quis nunc ultrices cursus. Duis ipsum arcu, feugiat et sem eget, feugiat eleifend mi. Morbi efficitur dapibus quam, rhoncus tristique odio fermentum vitae. Fusce lacus nisl, semper quis gravida id, tristique sit amet orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum porttitor auctor. Praesent feugiat tempor nulla in tincidunt. Vestibulum sed mauris bibendum, posuere justo quis, tempus metus. Vestibulum gravida elit quis metus pulvinar, non consequat ligula maximus. Nam eleifend commodo nisi, et fermentum urna tempus vel. Sed laoreet commodo odio, eget cursus est consequat non. Cras vel ipsum vestibulum, scelerisque diam in, gravida elit. Donec elementum odio et ante fringilla, et varius nisi aliquam.</p>
  <p>
  	<a class="btn btn-primary btn-lg" href=listings#index role="button">New listing</a></p>
</div>
</div>